
@using BlazorComponents.Shared
@using System.Linq.Expressions
@using System.Linq
@using System.Net
@using BlazorComponents.Client
@using BlazorFrontend.SharedComponents
@using BlazorFrontend.SharedComponents.PageDesigner
@page "/Forms"
@inject HttpClient Http

@if (_forms == null)
{
    <em>loading..</em>

}
else
{
    foreach (var form in _forms)
    {
        <div class="row">
            <div class="col">@form.Name</div>
            <div class="col">
                <NavLink href=@($"./{form.ContentId}/Design")>Design</NavLink>
            </div>
        </div>
    }
}

@functions {

    IReadOnlyCollection<FormModel> _forms;

    protected override async Task OnInitializedAsync()
    {
        await RefreshSitemaps();
    }

    public async Task RefreshSitemaps()
    {
        _forms = await Http.GetJsonAsync<FormModel[]>("/api/forms");
        
        this.StateHasChanged();
    }

 }


