
@using BlazorComponents.Shared
@using System.Linq.Expressions
@using System.Linq
@using BlazorComponents.Shared
@page "/Pages/{pageId}/Design"
@inject HttpClient Http



@if (currentDesign == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <design>
        @((MarkupString)RenderPage(currentDesign))
    </design>
}


@functions {
    [Parameter]
    string pageId{get;set;}
    PreviewNode currentDesign;
    PageStructure pageStructure;



    protected override async Task OnInitAsync()
    {
        currentDesign = await Http.GetJsonAsync<PreviewNode>("api/design/"+new Guid(pageId)+"/preview");
        pageStructure = await Http.GetJsonAsync<PageStructure>("api/design/"+new Guid(pageId)+"/structure");

    }

    void SiteChanged(UIChangeEventArgs dropdownEvent)
    {

    }

    void ToggleExpand(UIChangeEventArgs toExpand)
    {
    }

    }
