@page "/"
@using Microsoft.AspNetCore.Blazor.Services
@using Microsoft.JSInterop
@inject IUriHelper uriHelper

<h1>Hello, world!</h1>
Welcome to your new app.

@functions
{
    //do this programatically based on the application context.
    protected override async Task OnInitAsync()
    {

        var homeUrl = await Config.GetAppHomeUrl();

        uriHelper.NavigateTo("./"+homeUrl);
    }
}