@using BlazorComponents.Client.Shared.PageDesigner

<h3 style="min-height: 50px;">
    <small class="float-right">
        <button type="button" class="configurator-cancel btn" onclick=@((e)=> _configurator.Cancel())>
            Cancel
        </button>
        <button type="button" class="btn btn-primary" onclick=@(async (e) => await _configurator.Save() )>
            Save
        </button>
    </small>
    Settings<br/>
</h3>


@functions
{
    [CascadingParameter] PageDesignerConfigurator _configurator { get; set; }
}